.playerItem {
    display: flex;
    box-shadow: 0 0 5px 0 rgba(43,43,43,.2), 0 11px 6px -7px rgba(43,43,43,.2);
    margin-bottom: 1em;
    height: 5em;
    border-radius: 1rem;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-left: 3px solid #003952;
    width: -webkit-fill-available;
    max-width: 500px;
    transition: box-shadow 50ms;
}

.dark .playerItem {
    background-color: #102435;
    border-color: #009682;
}

.playerItem:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.35), 0 6px 20px 0 rgba(0, 0, 0, 0.34);
}

.playerItem .baseInfoContainer {
    display: flex;
    align-items: center;
    min-width: 230px;
}

.playerItem .listRank {
    margin-left: 1em;
    font-size: x-large;
    color: #003952;
    width: 18px;
}

.dark .playerItem .listRank {
    color: #009682;
}

.baseInfoContainer a {
    border-radius: 50%;
    width: 55px;
    margin-left: 2em;
    margin-right: 1em;
}

.baseInfoContainer img {
    border-radius: 50%;
    width: 55px;
    box-shadow: 0 0 5px 0 rgba(43,43,43,.3), 0 11px 6px -7px rgba(43,43,43,.3);
}

.nameContainer .playerName {
    margin: 0;
}

.dark .nameContainer .playerName {
    color: white;
}

.nameContainer .teamName {
    color: grey;
    margin: 0;
}

.rankAndMMRContainer a {
    align-self: center;
}

.rankAndMMRContainer .rankContainer {
    background-color: #003952;
    height: 100%;
    display: flex;
    padding: 0 0.5em 0 0.5em;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.dark .rankAndMMRContainer .rankContainer {
    background-color: #102435;
}

.playerItem .rankAndMMRContainer {
    display: flex;
    height: 100%;
    align-items: center;
}

.rankAndMMRContainer .mmr {
    color: #003952;
    font-weight: bold;
    margin-left: 0.7em;
    margin-right: 1em;
}

.dark .rankAndMMRContainer .mmr {
    color: #009682;
}

.rankAndMMRContainer img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    align-self: center;
}

@media screen and (max-width: 459px) {
    .playerItem .rankAndMMRContainer {
        flex-flow: column-reverse;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
        padding: 0 0.5em 0 0.5em;
        background-color: #003952;
    }

    .dark .playerItem .rankAndMMRContainer {
        background-color: inherit;
    }

    .rankAndMMRContainer .rankContainer {
        background-color: inherit;
        margin-top: 0.2em;
    }
    
    .rankAndMMRContainer .mmr {
        margin-bottom: 0.8em;
        margin-top: 0;
        margin-right: 0;
        margin-left: 0;
        text-align: center;
        color: white;
    }
}

@media screen and (max-width: 399px) {
    .playerItem {
        min-width: min-content;
    }

    .baseInfoContainer .nameContainer {
        overflow-wrap: anywhere;
    }
}

@media screen and (max-width: 390px) {
    .baseInfoContainer a {
        margin-left: 1.5em;
    }

    .playerItem .listRank {
        margin-left: 0.5em;
    }
}
