.gameModeList {
    display: flex;
    justify-content: center;
    background-color: #102435;
    position: fixed;
    top: 0;
    width: 100%;
}

.gameModeList p:hover {
    background-color: #132f46;
}

.gameModeList p {
    font-size: x-large;
    width: 300px;
    text-align: center;
    margin: 0;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: .5em;
    padding-right: .5em;
    cursor: pointer;
    transition: background-color 0.25s;
    white-space: nowrap;
}

.gameModeList p.active {
    color: #102435;
    background-color: #f2fbff;
    border-top: 1px solid #102435;
    /* border-top: 1px solid darkgreen;
    border-left: 1px solid darkgreen;
    border-right: 1px solid darkgreen;
    position: relative;
    top: 1px; */
}

.gameModeList p.inactive {
    color: #f2fbff;
}

@media screen and (max-width: 472px) {
    .gameModeList p {
        font-size: medium;
    }
}
