.gameModeList {
    display: flex;
    justify-content: space-evenly;
    background-color: #232f3e;
    position: fixed;
    top: 0;
    width: 100%;
}

.gameModeList p {
    font-size: x-large;
    width: 25%;
    max-width: 300px;
    text-align: center;
    margin: 0;
    padding-top: 1em;
    padding-bottom: 1em;
    cursor: pointer;
}

.gameModeList p.active {
    color: #232f3e;
    background-color: #f2fbff;
    border-top: 1px solid #232f3e;
    /* border-top: 1px solid darkgreen;
    border-left: 1px solid darkgreen;
    border-right: 1px solid darkgreen;
    position: relative;
    top: 1px; */
}

.gameModeList p.inactive {
    color: #f2fbff;
}