/* CSS for dark mode */
/* https://dev.to/ananyaneogi/create-a-dark-light-mode-switch-with-css-variables-34l8 */
/* changed slider sices and small other stuff */
.themeSwitchWrapper {
    display: flex;
    align-items: center;
    margin-bottom: 4em;
    margin-top: 2em;
    place-content: center;
}

.themeSwitchWrapper em {
    margin-left: 10px;
    font-size: 1rem;
    color: grey;
}

.themeSwitch {
    display: inline-block;
    height: 30px;
    position: relative;
    width: 57px;
}
  
.themeSwitch input {
    display:none;
}
  
.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}
  
.slider:before {
    background-color: #fff;
    bottom: 3.98px;
    content: "";
    height: 23px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 24.5px;
}
  
input:checked + .slider {
    background-color: #009682;
}

input:checked + .slider:before {
    transform: translateX(24px);
}

.slider.round {
    border-radius: 31px;
}

.slider.round:before {
    border-radius: 50%;
}
